header {
  .header-top nav {
    width: 90%;
    .triangle {
      display: none;
      position: absolute;
      right: 10%;
      top: 5em;
      width: 0px;
      height: 0px;
      border-left: 35px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 40px solid rgb(255, 255, 255);
    }
    img {
      padding: 2em;
      display: block;
    }
    ul {
      position: absolute;
      display: none;
      width: 80%;
      height: 60vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 80%;
      right: 10%;
      background-color: #ffffff;
      padding: 0em;
      li {
        display: flex;
        justify-content: center;
        a {
          width: 100%;
          text-align: center;
          display: block;
          padding: 1em;
          font-size: 1rem;
          color: #2d7466;
        }
        .contact {
          width: 100%;
          background-color: #fbd601;
          color: #1b1d1c;
          margin: 0;
        }
      }
    }
  }
  .icon-wrap h1 {
    text-align: center;
    font-size: 2rem;
  }
}
main article {
  flex-direction: column;
  section {
    width: 100%;
    h1 {
      width: 90%;
      font-size: 2rem;
      text-align: center;
    }
    p {
      width: 90%;
      text-align: center;
      font-size: 1.6rem;
    }
    a {
      margin: 0;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  .img-article {
    width: 100%;
  }
}
main #article_1 {
  flex-flow: column-reverse;
}
main .article-footer .footer-box {
  width: 100%;
  .img-text {
    height: 100%;
    justify-content: flex-end;
    h1 {
      font-size: 2rem;
    }
    p {
      width: 90%;
      font-size: 1rem;
    }
  }
}
main .client-testimonials .testimonial-content {
  display: flex;
  flex-direction: column;
  .testimonial-card {
    width: 100%;
    img {
      margin-top: 2em;
    }
    p {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
main .clipper {
  flex-wrap: wrap;
  img {
    width: 50%;
  }
}
